.heading-black,
.btn,
button,
h2
    font-family: 'Kanit', sans-serif
    font-style: italic

.text-muted
    color: hsl(200 15% 70% / 1) !important

.text-body
    color: hsl(198 16% 90% / 1) !important

.bg-hero, #home
    background-image: url("../img/3.JPG")
    background-attachment: fixed
    -webkit-background-attachment: fixed
    -moz-background-attachment: fixed
    -o-background-attachment: fixed
    background-size: cover
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-position-x: center
    background-position-y: center
    -webkit-background-position-x: center
    -webkit-background-position-y: center
    -moz-background-position-x: center
    -moz-background-position-y: center
    -o-background-position-x: center
    -o-background-position-y: center
    &::before
        background-color: rgba(0,0,0, 0)

.ofer
    background-image: url('../img/ofer_bg.jpg')
    background-attachment: fixed
    -webkit-background-attachment: fixed
    -moz-background-attachment: fixed
    -o-background-attachment: fixed
    background-size: cover
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-position-x: center
    background-position-y: center
    -webkit-background-position-x: center
    -webkit-background-position-y: center
    -moz-background-position-x: center
    -moz-background-position-y: center
    -o-background-position-x: center
    -o-background-position-y: center
    height: 400px
    &::before
        background-color: rgba(0,0,0, 0.4)
.workout_plan
    background-attachment: fixed
    -webkit-background-attachment: fixed
    -moz-background-attachment: fixed
    -o-background-attachment: fixed
    background-size: cover
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-position-x: center
    background-position-y: center
    -webkit-background-position-x: center
    -webkit-background-position-y: center
    -moz-background-position-x: center
    -moz-background-position-y: center
    -o-background-position-x: center
    -o-background-position-y: center
    position: relative
    background-image: url('../img/workout_plan.jpg')
    height: 400px
    &::before
        background-color: rgba(0,0,0, 0.4)
.personal_training
    background-attachment: fixed
    -webkit-background-attachment: fixed
    -moz-background-attachment: fixed
    -o-background-attachment: fixed
    background-size: cover
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-position-x: center
    background-position-y: center
    -webkit-background-position-x: center
    -webkit-background-position-y: center
    -moz-background-position-x: center
    -moz-background-position-y: center
    -o-background-position-x: center
    -o-background-position-y: center
    position: relative
    background-image: url('../img/personal_training.jpg')
    height: 400px
    &::before
        background-color: rgba(0,0,0, 0.4)

.navbar
    .navbar-brand
        font-size: 1.9rem
    .dropdown-menu
        background-color: rgba(0,0,0,0.9)
        border: none
        .dropdown-item
            padding-left: 2rem
            color: rgba(255, 255, 255, 0.7) !important
            &:hover
                background-color: #1b1b1b
                color: #ffffff !important

footer
    .social
        a
            background: #2979ff

#faq
    background-image: url("../img/6.JPG")
    background-attachment: fixed
    -webkit-background-attachment: fixed
    -moz-background-attachment: fixed
    -o-background-attachment: fixed
    background-size: cover
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-position-x: center
    background-position-y: center
    -webkit-background-position-x: center
    -webkit-background-position-y: center
    -moz-background-position-x: center
    -moz-background-position-y: center
    -o-background-position-x: center
    -o-background-position-y: center
    position: relative
    &:before
        position: absolute
        z-index: 1
        width: 100%
        height: 100%
        display: block
        left: 0
        top: 0
        content: ""
        background-color: rgba(0, 0, 0, 0.6)
    .container
        z-index: 2
        position: relative

#offer
    background-image: url('../img/personal.jpg')
    background-attachment: fixed
    // -webkit-background-attachment: fixed
    // -moz-background-attachment: fixed
    // -o-background-attachment: fixed
    background-repeat: no-repeat
    background-size: cover
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    -webkit-background-repeat: no-repeat
    background-position-x: center
    background-position-y: center
    -webkit-background-position-x: center
    -webkit-background-position-y: center
    -moz-background-position-x: center
    -moz-background-position-y: center
    -o-background-position-x: center
    -o-background-position-y: center
    position: relative
    &:before
        position: absolute
        z-index: 1
        width: 100%
        height: 100%
        display: block
        left: 0
        top: 0
        content: ""
        background-color: rgba(0, 0, 0, 0.6)
    .container
        z-index: 2
        position: relative

@media not all and (min-resolution:.001dpcm)
    #offer
        background-attachment: unset

.lead
    font-size: 1.1rem

.custom-list
    h5
        padding-left: 2rem
        min-height: 60px
    ul
        display: flex
        flex-direction: column
        li
            padding-left: 0
            width: 100%

.ratings
    display: flex
    gap: 5px

.rating-color
    color: #fbc634

.auto-fit
    width: fit-content

.box-link
    transition: all .2s ease-in-out
    &:hover
        cursor: pointer
        transform: scale(1.1)

@media (max-width: 767.98px)
    .navbar-container
        background-color: rgba(0, 0, 0, 0.95)

    .nav-social
        gap: 20px

    .form-image
        background-attachment: fixed
        -webkit-background-attachment: fixed
        -moz-background-attachment: fixed
        -o-background-attachment: fixed
        background-size: cover
        -webkit-background-size: cover
        -moz-background-size: cover
        -o-background-size: cover
        background-position-x: center
        background-position-y: 100px
        -webkit-background-position-x: center
        -webkit-background-position-y: 100px
        -moz-background-position-x: center
        -moz-background-position-y: 100px
        -o-background-position-x: center
        -o-background-position-y: 100px

        &::before
            margin-top: 9rem
            position: absolute
            width: 100%
            height: 100%
            display: block
            left: 0
            top: 0
            content: ""
            background-color: rgba(0, 0, 0, 0.4)
    .contact
        background-image: url('../img/8.2.JPG')
    .opinion
        background-image: url('../img/feedback.jpg')

@media (min-width: 1600px)
    .container
        max-width: 1400px
